@import url("menu.css");
@import url("reset.css");
:root {
    --white: #f2f2f2;
    --black: #000000;
    --moradoSec: #6f1fff;
    --morado: #2f1e4e;
    --moradoT:#181822;
    --rosa: #ff388a;
}
*{
    box-sizing: border-box;

}


html,
body {
    font-family: "Roboto", sans-serif;
    background-color: var(--white);
    z-index: 100;
    font-size: 20px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
background-color: #181822;
}

a{
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;
}


/*intro*/

.intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black);
    z-index: 200;
    font-size: 5.5vw;
    color: var(--white);
    text-align: center;
    line-height: 90vh;
}

.intro.display-none {
    opacity: 0;
    z-index: -1000;
    transition: all 0.5s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}


/*cursor*/

.cursor {
    opacity: 0;
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    height: 10px;
    width: 10px;
    z-index: 99998;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    border: 2px solid var(--moradoSec);
    box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
}

.cursor.hover {
    height: 40px;
    width: 40px;
    background: transparent;
    box-shadow: 0 0 12px #686ee2;
}


/*inicio*/

.home {
    background: var(--black);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    align-items: center;
}

.home_img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.home_img>img {
    margin-top: 80px 80px;
    border-radius: 20%;
    width:300px;
    height: auto;
}

.home_title {
    grid-column: 1/3;
    grid-row: 2/3;
}

.home_title>h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    color: var(--white);
    text-align: center;
    font-size: 8.5vw;
}

.home_title>h1>span {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    padding: 5px;
    margin-top: 5px;
    display: block;
    color: var(--moradoSec);
    font-size: 10vw;
}


/*about*/
.about {
    background: var(--moradoT);
    color: var(--white);
    height: auto;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.about>div {
    width: 100%;
    height: 100%;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.about>div>div>h2 {
    font-family: 'Roboto',sans-serif;
    font-weight: 900;
    color: var(--moradoSec);
    font-size: clamp(1.5rem, 10vw, 4rem);
}

.about>div>div>div {
    display: flex;
    flex-direction: column;
}

.about>div>div>div>p {
    font-family: 'Roboto',sans-serif;
    font-weight: 100;
    font-size: 7vw;
    line-height: 14vw;
    padding-top: 3vw;
    margin: 1rem;
    padding: 5px;
}

.btn_cv {
    width: 100%;
    font-size: 5vw;
    text-align: center;
    color: var(--moradoSec);
}

/* Oswald 600  Roboto 100 700 900 */

/*proyectos*/
#slider-section{
    z-index: 1000;
    max-width: 1200px;
    width:90%;
    margin: 50px auto;
}
#slider-section h2{
    font-family: 'Roboto',sans-serif;
    font-weight: 900;
    font-size: clamp(1.5rem, 10vw, 4rem);
    color: var(--rosa);
    letter-spacing: 1px;
}
.slider-box{
    width: 100%;
    height: 450px;
    background-color: #242435;
    padding: 10px;
    margin: 50px auto;
    border-radius: 10px;
}
.slider-box-img{
    width: 100%;
    display: flex;
    height: 320px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.slider-box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}
.slider-box-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 15px;
    padding-bottom: 5px;
}
.slider-box-text a{
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.3px;
}
.slider_footer {
    width: 100%;
    color:var(--rosa);
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}

.slider_footer div i{
    display: flex;
    display: inline;
    font-size: 20px;
}


/*contacto*/

.contacto {
    background-color: var(--black);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*social media icon*/

.contacto>div {
    justify-self: flex-start;
    align-self: center;
}

.contacto>div>ul {
    display: flex;
    flex-direction: row;
}

.contacto>div>ul>li {
    font-size: 6vw;
    text-align: center;
    margin: 10px;
    height: 7vw;
    width: 7vw;
}

.contacto>div>ul>li>a {
    color: var(--moradoSec);
}

.contacto>div>ul>li>a :hover {
    color: var(--rosa)
}


/*form*/

.contacto>form {
    height: 60%;
    width: 70vw;
    align-self: center;
}

textarea:focus,
input:focus {
    outline: 0;
}

textarea {
    font-size: 4vw;
}

.campo {
    resize: none;
    background-color: var(--black);
    padding: 5px;
    border: 0;
    font-size: 4.3vw;
    color: var(--white);
    font-weight: 300;
    margin-top: 15px;
    border-bottom: solid var(--rosa) 3px;
    width: 100%;
}

.btn-contact {
    background-color: var(--moradoSec);
    border-radius: 20px;
    width: 100%;
    margin-top: 15px;
    color: var(--white);
    font-size: 22px;
    padding: 10px;
    cursor: pointer;
}

.btn-contact:hover {
    background: var(--morado);
}

@media (max-width: 700px) and (orientation: landscape) {
    .swiper-pagination-bullet{
        background-color: var(--white);
        width: 20px;
        height: 20px;
    }
    .cursor {
        opacity: -1;
    }
    .home_img {
        margin: 30px;
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .home_title {
        margin: 30px;
        padding: 30px;
        grid-column: 2/3;
        grid-row: 1/3;
    }
    .contacto {
        height: 200vh;
    }
}

@media (min-width: 768px) and (max-width: 2960px) {
    .home_img {
        margin: 30px;
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .home_title {
        margin: 30px;
        padding: 30px;
        grid-column: 2/3;
        grid-row: 1/3;
    }
    .about>div>div>div>p {
        font-size: 3.5vw;
        line-height: 5vw;
        padding: 10px;
    }
}

@media (min-width: 1024px) and (max-width: 2950px) {

    .swiper-pagination-bullet{
        background-color: var(--white);
        width: 20px;
        height: 20px;
    }

    .cursor {
        opacity: 1;
    }
    .home_img>img {
    height: 400px;
}
    .about>div>div {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1rem;
        align-items: flex-start;
        justify-items: center;
    }
    .about>div {
        padding-left: 0.5rem;
        padding-right: 1.25rem;
        margin-left: auto;
        margin-right: auto;
    }
    .about>div>div>div>p {
        padding-top: 1rem;
        border: 5px;
        margin: 2rem;
        padding: 20px;
    }

    .btn_cv {
        width: 100%;
        font-size: 5vw;
        align-self: center;
        justify-self: center;
        color: var(--moradoSec);
    }

}
